<ng-container >
    <div class="container mt-5">
          <form class="row mb-4" [formGroup]="form">
            <div class="col-4">
                <label for="Start Date">Start Date</label>
                <input type="date" formControlName="start" class="form-control">
            </div>
            <div class="col-4">
                <label for="End Date">End Date</label>
                <input type="date" formControlName="end" class="form-control">
            </div>
            <div class="col-2 align-content-end">
                <input class="btn btn-primary" (click)="applyFilter()" type="button" value="Apply" />
            </div>
          </form>
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productsInCart; let index = index">
                            <td >{{item.date | date :"short" }}</td>
                            <td>{{ item.products?.length }}</td>

                            <td  class="d-flex justify-content-center">
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt" (click)="DeleteItemCart(item.id)"> Delete</i>
                                </button>
                                <button class="btn btn-primary">
                                    <i class="fas fa-trash-alt"  (click)="openDialog();viewItem(index)"> View</i>
                                </button>
                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


