<div *ngIf="!isLoading" class="container justify-content-between">
  <div class="row mt-5">
    <div class="col-12">
       <!-- Dialog -->
      <button class="btn btn-success" (click)="openDialog()" >Add Product</button>
    </div>
      
  <div class="row mt-5">
    <div class="table-responsive">
      <table class="table table-primary" *ngFor="let product of products">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Categories</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td><img class="img-fluid" src="{{ product.image }}"  alt="image" [routerLink]="['/productDetails/', product.id]" /></td>
            <td>{{ product.title | uppercase | slice:0:10}}</td>
            <td>{{ product.category | slice:0:20 }}</td>
            <td>{{ product.price }}</td>
            <td><button class="btn btn-warning" (click)="openDialogUpdate(product)">Update</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- <app-product [data]="product" (item)="addToCart($event)"></app-product> -->
  </div>
</div>


<div *ngIf="isLoading" class="text-center w-100">
  <app-spinner></app-spinner>
</div>






